@charset "UTF-8";
html {
  font-size: 100%;
}

body {
  color: #333;
  margin: 0;
  font-size: 1rem;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ";
  margin-top: 105px;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.section-title {
  font-size: 1.5rem;
}

.item {
  width: 150px;
  text-align: center;
}

.item img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}

/* ヘッダー */
header {
  background-color: black;
  color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

#header-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header-flex ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#header-flex ul li {
  font-size: 1.5rem;
  padding-left: 50px;
}

#header-flex ul li a:hover {
  color: red;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
  border: 0;
}

#header-flex ul li:nth-child(4) {
  padding-right: 200px;
}

#header-logo {
  width: 150px;
  text-align: center;
}

.gnavi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.gnavi li a {
  display: block;
  text-decoration: none;
  color: #fff;
}

/*==================================================
　5-3-1 中心から外に線が伸びる（下部）
===================================*/
.gnavi li a {
  /*線の基点とするためrelativeを指定*/
  position: relative;
}

.gnavi li.current a,
.gnavi li a:hover {
  color: #ec0909;
}

.gnavi li a::after {
  content: '';
  /*絶対配置で線の位置を決める*/
  position: absolute;
  bottom: 0;
  left: 10%;
  /*線の形状*/
  width: 80%;
  height: 2px;
  background: #ec0909;
  /*アニメーションの指定*/
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  /*X方向0、Y方向1*/
  -webkit-transform-origin: center top;
          transform-origin: center top;
  /*上部中央基点*/
}

/*現在地とhoverの設定*/
.gnavi li.current a::after,
.gnavi li a:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  /*X方向にスケール拡大*/
}

button {
  position: absolute;
  top: 30px;
  right: 50px;
  background-color: transparent;
  cursor: pointer;
}

button img {
  width: 40px;
  margin: 0 auto;
}

#toggle ul {
  position: absolute;
  top: 100px;
  right: 20px;
  background-color: transparent;
  cursor: pointer;
  display: block;
  padding: 0;
  background-color: #d13109;
  display: none;
}

#toggle li {
  padding: 0;
  padding: 10px 10px;
  border: dotted 1px #fff;
}

#g-nav.panelactive {
  /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  height: 100vh;
}

/*丸の拡大*/
.circle-bg {
  position: fixed;
  z-index: 3;
  /*丸の形*/
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #000;
  /*丸のスタート位置と形状*/
  -webkit-transform: scale(0);
          transform: scale(0);
  /*scaleをはじめは0に*/
  right: -50px;
  top: -50px;
  -webkit-transition: all .6s;
  transition: all .6s;
  /*0.6秒かけてアニメーション*/
}

.circle-bg.circleactive {
  -webkit-transform: scale(50);
          transform: scale(50);
  /*クラスが付与されたらscaleを拡大*/
}

/*ナビゲーションの縦スクロール*/
#g-nav-list {
  display: none;
  /*はじめは表示なし*/
  /*ナビの数が増えた場合縦スクロール*/
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

#g-nav.panelactive #g-nav-list {
  display: block;
  /*クラスが付与されたら出現*/
}

/*ナビゲーション*/
#g-nav ul {
  opacity: 0;
  /*はじめは透過0*/
  /*ナビゲーション天地中央揃え※レイアウトによって調整してください。不必要なら削除*/
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/*背景が出現後にナビゲーションを表示*/
#g-nav.panelactive ul {
  opacity: 1;
}

/* 背景が出現後にナビゲーション li を表示※レイアウトによって調整してください。不必要なら削除*/
#g-nav.panelactive ul li {
  -webkit-animation-name: gnaviAnime;
          animation-name: gnaviAnime;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
  /*0.2 秒遅らせて出現*/
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

@-webkit-keyframes gnaviAnime {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes gnaviAnime {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*リストのレイアウト設定*/
#g-nav li {
  text-align: center;
  list-style: none;
}

#g-nav li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
}

/*========= ボタンのためのCSS ===============*/
.openbtn {
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 9999;
  /*ボタンを最前面に*/
  cursor: pointer;
  width: 80px;
  height: 80px;
  display: none;
}

/*×に変化*/
.openbtn span {
  display: inline-block;
  -webkit-transition: all .4s;
  transition: all .4s;
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
  background-color: #666;
  width: 45%;
}

.openbtn span:nth-of-type(1) {
  top: 15px;
}

.openbtn span:nth-of-type(2) {
  top: 23px;
}

.openbtn span:nth-of-type(3) {
  top: 31px;
}

.openbtn.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  -webkit-transform: translateY(6px) rotate(-45deg);
          transform: translateY(6px) rotate(-45deg);
  width: 30%;
}

.openbtn.active span:nth-of-type(2) {
  opacity: 0;
}

.openbtn.active span:nth-of-type(3) {
  top: 30px;
  left: 18px;
  -webkit-transform: translateY(-6px) rotate(45deg);
          transform: translateY(-6px) rotate(45deg);
  width: 30%;
}

/* Main */
/* Mainvisual */
#main-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#mainvisual {
  background-image: url(topbg.JPG);
  width: 100%;
  height: 83vh;
  background-position: center center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0.5;
}

#article {
  background: #f12020;
}

#article h1 {
  margin-top: 80px;
  margin-bottom: 80px;
  text-align: center;
  font-family: "YakuHanJPs", "Roboto", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Arial, "nc3Jp", sans-serif;
  -webkit-animation: fadeIn 0.8s ease 0.5s 1 normal;
          animation: fadeIn 0.8s ease 0.5s 1 normal;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#article h2 {
  font-size: 1.5rem;
  text-align: center;
  background-color: #fff;
  margin-bottom: 0;
}

#article #news {
  height: 200px;
  width: 500px;
  background-color: #eee;
  margin: 0 auto;
  -webkit-filter: drop-shadow(5px 3px 2px);
          filter: drop-shadow(5px 3px 2px);
  overflow-y: scroll;
}

#article dt {
  margin-bottom: 20px;
  padding-left: 5px;
}

#article dd {
  margin-bottom: 30px;
}

#article dd a {
  color: #d33013;
}

#topics p {
  background: #eee;
  margin-top: 0;
  padding: 20px 0;
}

#topics p a {
  color: #d33013;
}

footer {
  background: #000;
  text-align: center;
  font-size: 0.75rem;
  color: #fff;
}

/* Loading背景画面設定　*/
#splash {
  /*fixedで全面に固定*/
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: #333;
  text-align: center;
  color: #fff;
}

/* Loadingバー中央配置　*/
#splash_text {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
}

#splash {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #333;
  z-index: 9999999;
  text-align: center;
  color: #fff;
}

#splash-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/*========= 画面遷移のためのCSS ===============*/
/*画面遷移アニメーション*/
.splashbg {
  display: none;
}

/*bodyにappearクラスがついたら出現*/
body.appear .splashbg {
  display: block;
  -webkit-animation-name: PageAnime;
          animation-name: PageAnime;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  content: "";
  position: fixed;
  z-index: 999;
  width: 50%;
  height: 100vh;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-300%) skewX(-45deg);
          transform: translateX(-300%) skewX(-45deg);
  background-color: #333;
  /*伸びる背景色の設定*/
}

@-webkit-keyframes PageAnime {
  0% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: translateX(-300%) skewX(-45deg);
            transform: translateX(-300%) skewX(-45deg);
  }
  100% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: translateX(500%) skewX(-45deg);
            transform: translateX(500%) skewX(-45deg);
  }
}

@keyframes PageAnime {
  0% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: translateX(-300%) skewX(-45deg);
            transform: translateX(-300%) skewX(-45deg);
  }
  100% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: translateX(500%) skewX(-45deg);
            transform: translateX(500%) skewX(-45deg);
  }
}

/*画面遷移の後現れるコンテンツ設定*/
#container2 {
  opacity: 0;
  /*はじめは透過0に*/
}

/*bodyにappearクラスがついたら出現*/
body.appear #container {
  -webkit-animation-name: PageAnimeAppear;
          animation-name: PageAnimeAppear;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

@-webkit-keyframes PageAnimeAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes PageAnimeAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.scrolldown1 {
  /*描画位置※位置は適宜調整してください*/
  position: absolute;
  left: 50%;
  bottom: 10px;
  /*全体の高さ*/
  height: 50px;
}

/*Scrollテキストの描写*/
.scrolldown1 span {
  /*描画位置*/
  position: absolute;
  left: -15px;
  top: -15px;
  /*テキストの形状*/
  color: #f50c0c;
  font-size: 0.7rem;
  letter-spacing: 0.05em;
}

/* 線の描写 */
.scrolldown1::after {
  content: "";
  /*描画位置*/
  position: absolute;
  top: 0;
  /*線の形状*/
  width: 1px;
  height: 30px;
  background: #f00a0a;
  /*線の動き1.4秒かけて動く。永遠にループ*/
  -webkit-animation: pathmove 1.4s ease-in-out infinite;
          animation: pathmove 1.4s ease-in-out infinite;
  opacity: 0;
}

/*高さ・位置・透過が変化して線が上から下に動く*/
@-webkit-keyframes pathmove {
  0% {
    height: 0;
    top: 0;
    opacity: 0;
  }
  30% {
    height: 30px;
    opacity: 1;
  }
  100% {
    height: 0;
    top: 50px;
    opacity: 0;
  }
}
@keyframes pathmove {
  0% {
    height: 0;
    top: 0;
    opacity: 0;
  }
  30% {
    height: 30px;
    opacity: 1;
  }
  100% {
    height: 0;
    top: 50px;
    opacity: 0;
  }
}

#top {
  position: fixed;
  bottom: 50px;
  right: 50px;
}

#top img {
  width: 70px;
}

#friends-main h1 {
  text-align: center;
  font-family: "YakuHanJPs", "Roboto", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Arial, "nc3Jp", sans-serif;
  font-size: 4rem;
  margin-bottom: 0;
  margin-top: 150px;
}

#friends-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#slide {
  width: 50%;
  padding-bottom: 300px;
}

#slide ul {
  margin: 0;
  position: relative;
}

#slide ul li {
  position: absolute;
  width: 100%;
}

#slide ul img {
  margin-top: 20px;
}

#name {
  width: 50%;
  text-align: center;
}

#name h3 {
  font-size: 1.5rem;
  color: #f30a0a;
}

#name ul {
  padding: 0;
}

#name ul li {
  padding-bottom: 5px;
}

.friends:nth-child(1) {
  margin-top: 300px;
}

.friends {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 5%;
  margin-top: 50px;
  background-color: #EEE;
}

.flex1 {
  width: 30%;
  padding: 10px;
}

.flex2 {
  width: 35%;
  padding: 10px;
}

.flex3 {
  width: 35%;
  padding: 10px;
}

.artist {
  color: #fff;
  text-align: center;
  background: #f10606;
  padding: 5px 0;
  -webkit-filter: drop-shadow(5px 5px #c21010);
          filter: drop-shadow(5px 5px #c21010);
}

.fade {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.fadein {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.eria-ja {
  margin-bottom: 0;
}

.eria-en {
  margin-top: 5px;
}

.youtube2 {
  text-align: center;
}

h3 {
  text-align: center;
}

.url {
  color: #f30b0b;
  font-size: 0.8rem;
}

.artist-image img {
  width: 300px;
}

#member-title {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 100px;
  font-size: 3rem;
}

#member-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.member-name {
  font-size: 1.5rem;
  text-align: center;
}

.item {
  width: 30%;
}

.item p {
  text-align: left;
}

.item img {
  width: 300px;
  height: 300px;
}

#about h1 {
  text-align: center;
  margin-top: 150px;
  font-size: 3rem;
}

#about #about-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#about #about-image {
  width: 50%;
  padding: 3%;
}

#about #about-text {
  width: 50%;
  padding: 3%;
}

#works-title {
  text-align: center;
  font-size: 3rem;
  margin-top: 150px;
}

#works-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#works-image {
  height: 600px;
}

#works-image img {
  height: 550px;
}

#works-text {
  position: relative;
}

#works-text a {
  display: block;
  margin-top: 400px;
  text-align: center;
  background-color: #ec0909;
  color: #000;
  height: 50px;
  line-height: 50px;
  font-size: 2rem;
}

#works-text a:hover {
  background-color: #c01b1b;
}

#bg {
  width: 600px;
  height: 400px;
  background: rgba(233, 12, 12, 0.2);
  position: absolute;
  top: 100px;
  right: 100px;
}

#bg2 {
  width: 600px;
  height: 400px;
  background: rgba(151, 15, 15, 0.26);
  position: absolute;
  top: 50px;
  right: 150px;
}

#lineup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#lineup iframe {
  padding: 4%;
}

#sub-main h2 {
  margin-top: 150px;
  text-align: center;
  font-size: 3rem;
}

#sub-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#sub-flex #sub-text {
  width: 35%;
  padding: 0 2%;
}

#sub-flex #sub-text .sub-text-main {
  font-size: 1.5rem;
  text-align: center;
}

#sub-flex #sub-text .sub-text-main a {
  color: red;
  font-size: 0.8rem;
}

#sub-flex #sub-text .sub-text-main:nth-child(1) {
  margin-top: 0;
}

#sub-flex #sub-text2 {
  width: 25%;
  text-align: center;
  padding: 0 2%;
}

#sub-flex #sub-text2 .sub-text-sub {
  margin: 3px 0;
}

#sub-flex #sub-text2 a {
  margin: 3px 0;
  color: red;
}

#sub-flex #sub-image {
  width: 40%;
  height: 600px;
  text-align: center;
}

#sub-flex #sub-image img {
  height: 100%;
}

@media screen and (max-width: 800px) {
  #header-logo {
    margin: 15px;
  }
  #header-flex ul {
    display: none;
  }
  #header-flex ul li {
    font-size: 0.5rem;
  }
  #main-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #g-nav ul {
    margin-top: 0;
  }
  #news {
    max-width: 100%;
  }
  .openbtn {
    display: block;
  }
  #works-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #works-image {
    margin: 0 auto;
  }
  #works-text {
    padding: 0 2%;
  }
  #works-text a {
    margin-top: 200px;
    width: 100%;
    font-size: 1rem;
  }
  #lineup iframe {
    margin: 0 auto;
  }
  #friends-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #friends-flex #slide {
    width: 100%;
  }
  #friends-flex #name {
    width: 100%;
    margin-top: 300px;
  }
  #friends-main h1 {
    font-size: 2rem;
  }
  #slide li img {
    max-width: 300px;
  }
  .friends {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .friends .flex1 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 1%;
    width: 100%;
  }
  .friends .flex2 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 1%;
    width: 100%;
  }
  .friends .flex3 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 1%;
    width: 100%;
  }
  .youtube2 iframe {
    width: 100%;
  }
  .url {
    width: 100%;
    word-break: break-all;
  }
  #member-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #member-flex .item {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    padding: 0 2%;
  }
  #about-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #about-flex #about-image {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    padding: 0 2%;
    margin-bottom: 50px;
  }
  #about-flex #about-text {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    padding: 0 2%;
  }
  .item {
    padding: 0 2%;
  }
  #sub-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #sub-flex #sub-text {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    padding: 0 2%;
  }
  #sub-flex #sub-text2 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    padding: 2%;
  }
  #sub-flex #sub-image {
    width: 100%;
  }
}
/*# sourceMappingURL=styles.css.map */