@charset "UTF-8";

html{
    font-size: 100%;
}

body{

    color: #333;
    margin: 0;
    font-size: 1rem;
    padding-top: 73px;

}

img{
    max-width: 100%;
    vertical-align: bottom;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #fff;
}

.wrapper{
    max-width: 1000px;
    margin: 0 auto;
}

.section-title{
    font-size: 1.5rem;
   

}

.item{
    width: 150px;
    text-align: center;
}

.item img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

/* ヘッダー */

header{
    background-color: black;
    color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
    
    
}

#header-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#header-logo{
    width: 150px;
    
}

header ul{
    display: flex;
    align-items: center;
    
}

header li{
    padding-left: 30px;
    font-size: 1.25rem;
    
}

header li a{
    transition: all 0.5s ease ;
}

header li a:hover{
    color: springgreen;
}

header li:first-child{
    padding: 0;
}

/* Main */

/* Mainvisual */

#mainvisual{
    width: 100%;
    margin-bottom: 200px;
}

#mainvisual img{
    width: 100%;
    height: calc(100vh - 90px);
    object-fit: cover;
}

/* Works */

#work-bg{
    margin-bottom: 100px;
    height: 300px;
    background-image: url(work-images.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#flex{
    display: flex;
}

#works-image{
    width: 60%;
}

#works-text{
    width: 40%;
    padding-left: 50px;
}

#works-image img{
    width: 100%;
    
}

#works-image{
    position: relative;
}

#new{
    font-size: 1.25rem;
    background-color: chartreuse;
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    top: -30px;
    left: -30px;
}

#btn{
    display: block;
    width: 150px;
    height: 65px;
    line-height: 65px;
    font-size: 1.25rem;
    margin: 0;
    background-color: #333;
    border: solid 1px #333;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 100px;
    border-radius: 3px;
    
}

#btn:hover{
    background-color:#555;
}


/* About */

#about-bg{
    margin-bottom: 100px;
    height: 300px;
    background-image: url(about-images.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#about{
    display: flex;
    margin-bottom: 100px;
}

#about-text{
    width: 40%;
    padding: 0 20px;
}

#about-image{
    width: 60%;
    padding: 0 20px;
    height: 500px;
   
    
}

#about-image img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}


/* Member */

#member-bg{
    margin-bottom: 100px;
    height: 300px;
    background-image: url(member-images.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#member{
    margin-bottom: 100px;
}

#member h2{
    text-align: center;
}

#member-flex{
    display: flex;
    justify-content: space-between;
}

.intro{
    font-size: 0.75rem;
    text-align: left;
}


footer{
    background-color: #000;
    text-align: center;
    color: #fff;
    padding: 20px 0;
    
}

/* Friends */

#friends-image{
    text-align: center;
}

#friends-image img{
    width: 600px;
}


/* WORKSMORE */

#more-bg{
    height: 100vh;
    background-image: url(more-images.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

#lineup{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#lineup iframe{
    width: 500px;
    padding-top: 50px;
}


/* Friends */



.friends{
    display: flex;
    border-radius: 5px;
    margin: 50px 5%;
}
#friends1{
    background-color: #fa9;
}

#friends2{
    background-color: rgb(127, 197, 214);
}

.flex1{
    width: 30%;
    padding-left: 15px;
    padding-right: 15px;
}

.flex2{
    width: 30%;
    padding-left: 15px;
    padding-right: 15px;
}

.flex3{
    width: 40%;
}

.youtube2{
    width: 350px;
}

.youtube2 iframe{
    width: 350px;
}

.syoukai-ja{
    font-size: 0.9rem;
}

.syoukai-en{
    font-size: 0.9rem;
}

.korabo{
    font-size: 0.9rem;
}

.url{
    font-size: 0.8rem;
    color: blue;
}

h3{
    text-align: center
    ;
}





@media screen and (max-width:800px) {

    #header-flex{
        flex-direction: column;
    }

    header ul{
        padding: 0;
    }

    #mainvisual{
        margin-bottom: 150px;
    }

    #flex{
        flex-direction: column-reverse;
        padding: 0 30px;
    }

    #works-image{
        width: 100%;
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
        
    }



    #youtube iframe{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;

    }

    #new{
        display: none;
    }

    #works-text{
        width: 100%;
        text-align: center;
        padding: 0;
        margin-bottom: 50px;
    }

    #works-text p{
        text-align: left;
    }

    #about{
        flex-direction: column;
        padding: 0 15px;
        
    }

    #about-text{
        width: calc(100% - 30px);
        
    }
    
    #about-image{
        width: calc(100% - 30px);
    }

    .section-title{
        text-align: center;
        margin-bottom: 50px;
    }

    #member-flex{
        flex-direction: column;
        
    }

    .item{
        margin: 0 auto;
        margin-bottom: 40px;
    }

    /* Friends */

    #friends-main{
        margin-top: 100px;
    }

    .friends{
        flex-direction: column;
    }

    .flex1{
        width: 100%;
    }

    .flex2{
        width: 100%;
    }

    .flex3{
        width: 100%;
    }

  



    
}

